<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/bin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>zonaProp.web.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>zonaProp.web.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationList</servlet-name>
		<servlet-class>zonaProp.web.PublicationList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationList</servlet-name>
		<url-pattern>/publicationList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationABM</servlet-name>
		<servlet-class>zonaProp.web.PublicationABM</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationABM</servlet-name>
		<url-pattern>/publicationDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Publication</servlet-name>
		<servlet-class>zonaProp.web.PublicationPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publication</servlet-name>
		<url-pattern>/publication</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationSearchResults</servlet-name>
		<servlet-class>zonaProp.web.PublicationSearchResults</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationSearchResults</servlet-name>
		<url-pattern>/publicationSearchResults</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>zonaProp.web.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>PhotoUpload</servlet-name>
		<servlet-class>zonaProp.web.PhotoUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoUpload</servlet-name>
		<url-pattern>/photoUpload</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>photoShower</servlet-name>
	    <servlet-class>zonaProp.web.PhotoShower</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>photoShower</servlet-name>
	    <url-pattern>/photoShower/*</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>photoDeleter</servlet-name>
	    <servlet-class>zonaProp.web.PhotoDeleter</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>photoDeleter</servlet-name>
	    <url-pattern>/photoDeleter</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ErrorPage</servlet-name>
	    <servlet-class>zonaProp.web.ErrorPage</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ErrorPage</servlet-name>
	    <url-pattern>/errorPage</url-pattern>
	</servlet-mapping>
<!-- 	<filter> -->
<!-- 		<filter-name>ErrorFilter</filter-name> -->
<!-- 		<filter-class>filters.ErrorFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>ErrorFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	<filter>
		<filter-name>LoggedFilter</filter-name>
		<filter-class>zonaProp.filters.LoggedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggedFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>zonaProp.filters.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
