<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>web.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>web.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationList</servlet-name>
		<servlet-class>web.PublicationList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationList</servlet-name>
		<url-pattern>/publicationList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationABM</servlet-name>
		<servlet-class>web.PublicationABM</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationABM</servlet-name>
		<url-pattern>/publicationDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Publication</servlet-name>
		<servlet-class>web.Publication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publication</servlet-name>
		<url-pattern>/publication</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationSearchResults</servlet-name>
		<servlet-class>web.PublicationSearchResults</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationSearchResults</servlet-name>
		<url-pattern>/publicationSearchResults</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicationSearch</servlet-name>
		<servlet-class>web.PublicationSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationSearch</servlet-name>
		<url-pattern>/publicationSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>web.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoggedFilter</filter-name>
		<filter-class>filters.LoggedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggedFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
